<!DOCTYPE html>
<html xmlns:ht="http://thymeleaf.org">
<head th:replace="plantillas/template :: head">
    <meta charset="UTF-8">
    <title>Proyecto final</title>
</head>
<body>
    <header th:replace="/plantillas/template :: header"></header>

    <div class="container text-center mt-5">
        <h1>Proyecto Final Programación</h1>
        <h4>Haga click en cualquiera de los enlaces de la barra superior para acceder a los catálogos</h4>
    </div>

    <footer th:replace="/plantillas/template :: footer"></footer>
</body>
</html>
